body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    padding:0px;
    margin:0px;

}

.home{
    width: 100%;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width:650px;
    height:630px ;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    position: absolute;
    left:25%;
}

.img{
    width: 650px;
    height: 160px;
    background-color: beige;
    background-image: url('bg-012.jpeg');
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 30px;
    color: white;
}
h2{
    padding-top: 50px;
}
.contact{
    
    padding-top: 40px;
    padding-left: 80px;
}
.inputform {
    width: 100%;
    margin-bottom: 35px;
  }
  
  .input {
  
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    border-style:none;
    border-bottom-style: inset;
    
    width: 50%;
    padding: 10px;
    font-size: 120%;
    margin-left:  20px;
  }

  form label {
    font-size: 100%;
    color: #555555;
}


form textarea {
    
    font-size: 150%;
    width: 60px;
    height: 60px;

}

.pp{
    margin-left: 75px;
    margin-top:-30px;
    
}  


  .button{
    padding: 10px 40px;
    margin-top:50px;
    margin-left:70px;
    font-size: 20px;
    font-style: unset;
    color: #fff;
    background-color:#57b846;
    border: none;
    border-radius: 20px;
    
  }
  
  .button:hover {background-color: #46a75b}
  
  .button:active {
    background-color: #086354;
    transform: translateY(4px);
  }

  #map {
    height: 750px;
    width: 100%;

  }
  #search{
    height: 700px;
    width: 100%;
  }